body{

background:#0f172a;
color:white;

font-family:Arial;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.container{

background:#1e293b;

padding:40px;

border-radius:10px;

width:400px;

text-align:center;

}

input{

width:100%;
padding:10px;
margin-top:15px;

border:none;
border-radius:5px;

}

button{

margin-top:20px;

padding:10px 20px;

border:none;
border-radius:5px;

background:#22c55e;

color:white;

cursor:pointer;

}

#strength-bar{

height:10px;
width:0%;

background:red;

margin-top:10px;

border-radius:5px;

transition:0.3s;

}

a{

color:#38bdf8;
text-decoration:none;

}
