<!DOCTYPE html>
<html>
<head>

<title>Password Analyzer</title>

<style>

body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

.container{
margin-top:80px;
}

input,select{
padding:12px;
margin:10px;
width:250px;
border-radius:6px;
border:none;
}

button{
padding:12px 20px;
background:#22c55e;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}

.strength{
margin-top:20px;
font-size:22px;
}

.poor{color:red;}
.weak{color:orange;}
.good{color:yellow;}
.excellent{color:lime;}

</style>

</head>

<body>

<div class="container">

<h1>Password Strength Analyzer</h1>

<form method="POST">

<input type="password" id="password" name="password" placeholder="Enter Password" required>

<button type="button" onclick="toggle()">👁</button>

<br>

<select name="website">

<option value="amazon">Amazon</option>
<option value="flipkart">Flipkart</option>
<option value="ajio">Ajio</option>
<option value="myntra">Myntra</option>

</select>

<br>

<button type="submit">Check Strength</button>

</form>

{% if result %}

<div class="strength">

<h2>Strength: {{result}}</h2>

<p>Estimated Similar Password Usage: {{percent}}%</p>

<h3>Suggested Strong Passwords</h3>

<ul>
{% for s in suggestions %}
<li>{{s}}</li>
{% endfor %}
</ul>

</div>

{% endif %}

</div>

<script>

function toggle(){

var x=document.getElementById("password");

if(x.type==="password"){
x.type="text";
}else{
x.type="password";
}

}

</script>

</body>

</html>
